* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   flex-wrap: wrap;
   background-color: oklch(from var(--blue) calc(l - 0.3) calc(c * 0.3) h);
}
h1,
h2,
h3,
.location,
a {
   display: inline-block;
   font-family: "Hanuman", Georgia;
   color: oklch(from var(--theme-color) calc(l + 0.2) calc(c * 0.5) h);
}
h1 {
   font-size: 4em;
   mask-image: linear-gradient(
      to bottom,
      white 30%,
      transparent
   );
}
h2 {
   font-size: 1.5em;
   font-weight: 600;
}
section h2 {
   margin-bottom: 5px;
   border-bottom: 3px solid var(--blue);
}
.location {
   font-weight: 500;
   font-size: 1.5em;
}
a {
   font-weight: 300;
   color: var(--purple-pink);
   transition: color 500ms var(--ease-end);
   pointer-events: auto;
}
a:hover {
   color: var(--pink);
   transition: color 200ms var(--ease-start);
}
p,
li {
   font-family: "DM Sans", sans;
   color: oklch(from var(--theme-color) calc(l + 0.2) calc(c * 0.5) h);
}
ul {
   margin: 10px 0 10px 25px;
}
li {
   color: oklch(from var(--theme-color) calc(l + 0.1) calc(c * 0.5) h);
   pointer-events: none;
   transition: color 500ms var(--ease-end);
}
li:hover {
   color: oklch(from var(--theme-color) calc(l + 0.2) calc(c * 0.5) h / 0.5);
   transition: color 200ms var(--ease-start);
}

/* this should only be in make modern */

:root {
   --purple: oklch(0.55 0.169 292.579);
   --blue-purple: oklch(0.55 0.169 270.951);
   --blue: oklch(0.55 0.169 253.402);
   --purple-pink: oklch(0.55 0.169 317.152);
   --red: oklch(0.55 0.169 20.103);
   --orange: oklch(0.55 0.169 37.19);
   --pink: oklch(0.55 0.169 0.772);
   --green: oklch(0.55 0.169 146.943);
   --jungle-green: oklch(0.55 0.169 137.674);

   --theme-color: var(--blue);
   --theme-shadow: 0.2 0.08 253.402;

   --spring: linear(0, 0.034 1.2%, 0.133 2.5%, 0.726 7.6%, 0.942 9.9%, 1.084 12.3%, 1.123 13.5%, 1.146 14.8%, 1.152 16.1%, 1.142 17.6%, 1.013 25.5%, 0.989 28%, 0.978 30.7%, 1.003 46.4%, 1);
   --ease-start: cubic-bezier(0.158, 0.264, 0, 0.993);
   --ease-end: cubic-bezier(0.85, 0.09, 0.15, 0.91);

   --shadow-elevation-low:
      0.3px 0.5px 0.7px oklch(var(--theme-shadow) / 0.1),
      0.4px 0.8px 1px -1.2px oklch(var(--theme-shadow) / 0.1),
      1px 2px 2.5px -2.5px oklch(var(--theme-shadow) / 0.1);
  --shadow-elevation-medium:
      0.3px 0.5px 0.7px oklch(var(--theme-shadow) / 0.11),
      0.8px 1.6px 2px -0.8px oklch(var(--theme-shadow) / 0.11),
      2.1px 4.1px 5.2px -1.7px oklch(var(--theme-shadow) / 0.11),
      5px 10px 12.6px -2.5px oklch(var(--theme-shadow) / 0.11);
  --shadow-elevation-high:
      0.3px 0.5px 0.7px oklch(var(--theme-shadow) / 0.1),
      1.5px 2.9px 3.7px -0.4px oklch(var(--theme-shadow) / 0.1),
      2.7px 5.4px 6.8px -0.7px oklch(var(--theme-shadow) / 0.1),
      4.5px 8.9px 11.2px -1.1px oklch(var(--theme-shadow) / 0.1),
      7.1px 14.3px 18px -1.4px oklch(var(--theme-shadow) / 0.1),
      11.2px 22.3px 28.1px -1.8px oklch(var(--theme-shadow) / 0.1),
      17px 33.9px 42.7px -2.1px oklch(var(--theme-shadow) / 0.1),
      25px 50px 62.9px -2.5px oklch(var(--theme-shadow) / 0.1);
}


/* ----------------------------------- nav ---------------------------------- */

nav {
   position: sticky;
   display: flex;
   flex-direction: column;
   top: 0;
   height: 100vh;
   width: 40%;
   max-width: 500px;
   align-items: baseline;
   border-right: 3px solid oklch(from var(--blue) calc(l - 0.33) calc(c * 0.3) h);
   box-shadow: 
      0.3px 0.5px 0.7px oklch(var(--theme-shadow) / 0.1),
      1.5px 2.9px 3.7px -0.4px oklch(var(--theme-shadow) / 0.1),
      2.7px 5.4px 6.8px -0.7px oklch(var(--theme-shadow) / 0.1),
      4.5px 8.9px 11.2px -1.1px oklch(var(--theme-shadow) / 0.1),
      7.1px 14.3px 18px -1.4px oklch(var(--theme-shadow) / 0.1),
      11.2px 22.3px 28.1px -1.8px oklch(var(--theme-shadow) / 0.1),
      17px 33.9px 42.7px -2.1px oklch(var(--theme-shadow) / 0.1),
      25px 50px 62.9px -2.5px oklch(var(--theme-shadow) / 0.1);
   z-index: 2;
}

/* --------------------------------- header --------------------------------- */

.header-backdrop {
   display: flex;
   width: fit-content;
   margin: 30px;
   border-radius: 10px;
   background: repeating-linear-gradient(
      -45deg,
      oklch(from var(--theme-color) calc(l + 0.2) calc(c * 0.3) h),
      oklch(from var(--theme-color) calc(l + 0.2) calc(c * 0.3) h) 40px,
      oklch(from var(--theme-color) calc(l - 0.3) calc(c * 0.5) h) 40px,
      oklch(from var(--theme-color) calc(l - 0.3) calc(c * 0.5) h) 67.2px
   );
}
header {
   display: flex;
   width: fit-content;
   flex-direction: column;
   border-radius: 10px;
   padding: 10px;
   backdrop-filter: blur(16px); 
   background-color: oklch(from var(--theme-color) calc(l - 0.2) calc(c * 0.5) h / 0.9);
   box-shadow: 
      0.3px 0.5px 0.7px oklch(var(--theme-shadow) / 0.11),
      0.8px 1.6px 2px -0.8px oklch(var(--theme-shadow) / 0.11),
      2.1px 4.1px 5.2px -1.7px oklch(var(--theme-shadow) / 0.11),
      5px 10px 12.6px -2.5px oklch(var(--theme-shadow) / 0.11);
}
header h1 {
   max-width: 420px;
   text-wrap: none;
   flex: 1;
}
header span {
   animation: blink 2s step-end infinite;
}
header h2 {
   padding-top: 20px;
   border-top: 2px solid oklch(from var(--blue) calc(l - 0.33) calc(c * 0.3) h);
}

.one {
   animation: slide-in 500ms var(--ease-start) forwards;
}
.two {
   animation: slide-in 700ms var(--ease-start) forwards;
}
.three {
   animation: slide-in 900ms var(--ease-start) forwards;
}
.four {
   animation: slide-in 1100ms var(--ease-start) forwards;
}

/* -------------------------------- locations ------------------------------- */

.locations {
   display: flex;
   flex-direction: column;
}

/* -------------------------------- side-info ------------------------------- */

p.side-info {
   max-width: 420px;
   border-radius: 10px;
   border: 3px solid var(--blue);
   margin: 30px;
   padding: 5px 10px;
   transition: opacity 200ms;
}
p.side-info.hidden {
   opacity: 0;
}


/* ----------------------------- content ---------------------------- */

.content {
   display: flex;
   flex: 1;
   max-width: fit-content;
   gap: 50px;
   flex-direction: column;
   margin: 50px auto 0 auto;
   padding: 0 10px;
   animation: page-in 500ms var(--ease-start) both;
   z-index: 1;
}

.imgs {
   display: flex;
   flex: 1;
   justify-content: space-between;
   margin: 0 auto;
}
.img-container {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;
}
img {
   display: inline-block;
   width: 90%;
   height: auto;
   margin: 10px;
   border-radius: 10px;
   box-shadow:
      5px 10px 1px oklch(var(--theme-shadow) / 0.3);
   transition-property: transform, box-shadow;
   transition-duration: 500ms;
   transition-timing-function: var(--ease-end);
}
@media (hover: hover) {
   img:hover {
      transform: translate(-2.5px, -5px) scale(1.01);
      box-shadow: 7.5px 15px 1px oklch(var(--theme-shadow) / 0.3);
      transition-property: transform, box-shadow;
      transition-duration: 200ms;
      transition-timing-function: var(--ease-end);
   }
}
img:active {
   transform: translate(2.5px, 5px) scale(0.99);
   box-shadow: 2.5px 5px 1px oklch(var(--theme-shadow) / 0.3);
   transition-property: transform, box-shadow;
   transition-duration: 200ms;
   transition-timing-function: var(--ease-end);
}
.img-container p {
   margin-top: 5px;
   width: fit-content;
}

/* --------------------------------- sections -------------------------------- */

.section-container {
   display: flex;
   flex: 1;
   max-width: 800px;
   height: 700px;
   border-radius: 20px;
   animation: fade-in linear both;
   animation-timeline: view();
   animation-range: cover 0% cover 10%;
   view-timeline: --section;
}
.below-about {
   display: flex;
   flex: 1;
   max-width: 800px;
   gap: 50px;
   flex-direction: column;
   animation: super-fade-in linear both;
   animation-timeline: view();
   animation-range: entry 0% entry 60%;
   view-timeline: --section;
}

section {
   display: flex;
   flex-direction: column;
   flex: 1;
   min-height: 400px;
   border-radius: 20px;
   border: 3px solid var(--blue);
   padding: 10px 20px;
   backdrop-filter: blur(16px);
   transition: background-color 500ms var(--ease-end);
}
section:hover {
   background-color: oklch(from var(--blue) calc(l - 0.2) calc(c * 0.3) h / 0.1);
   transition: background-color 200ms var(--ease-start);
}
section h2 {
   font-size: 2em;
   color: var(--blue);
   mask-image: linear-gradient(
      to bottom,
      white 30%,
      transparent
   );
}
section p {
   animation: transparency linear both;
   animation-timeline: --section;
}
section .color-shift {
   color: var(--blue);
   animation: color-shift 8s linear infinite both;
}
p.fallback-info {
   display: none;
}

.bottom-text {
   width: fit-content;
   margin-top: auto;
   align-self: center;
   font-size: 0.9em;
   color: oklch(from var(--theme-color) calc(l + 0.2) calc(c * 0.5) h / 0.5);
}

/* -------------------------------- keyframes ------------------------------- */

@keyframes blink {
   50% { opacity: 0; }
}
@keyframes super-fade-in {
   0% { opacity: 0; transform: translateY(200px); filter: blur(16px); }
   100% { opacity: 1; transform: translateY(0px); filter: blur(0px); }
}
@keyframes fade-in {
   0% { opacity: 0; transform: translateY(50px); }
   100% { opacity: 1; transform: translateY(0px); }
}
@keyframes page-in {
   0% { opacity: 0; filter: blur(16px); }
   100% { opacity: 1; filter: blur(0); }
}
@keyframes slide-in {
   0% { transform: translateX(-200%); };
   100% { transform: translateX(0%); };
}
@keyframes transparency {
   0% {
      opacity: 0.3;
   }
   entry 10% {
      opacity: 0.3;
   }
   entry 30% {
      opacity: 1;
   }
   exit 80% {
      opacity: 1;
   }
   exit 100% {
      opacity: 0.3;
   }
   100% {
      opacity: 0.3;
   }
}
@keyframes color-shift {
   0% { color: var(--blue); }
   10% { color: var(--blue-purple); }
   30% { color: var(--purple); }
   40% { color: var(--red); }
   50% { color: var(--orange); }
   60% { color: var(--green); }
   80% { color: var(--jungle-green); }
   90% { color: var(--blue); }
}

/* ------------------------------ media queries ----------------------------- */

@media screen and (width <= 1198px) {
   header h1 {
      font-size: 3em;
   }
   nav {
      width: 35%;
   }
}
@media screen and (width <= 952px) {
   header h1 {
      font-size: 2.5em;
   }
   nav {
      width: 30%;
   }
}
@media screen and (width <= 780px) {
   header h1 {
      font-size: 3em;
   }
   nav {
      position: static;
      height: fit-content;
      max-width: 100%;
      flex-basis: 100%;
   }
   .locations,
   .side-info {
      display: none;
   }
   img {
      width: 330px;
   }
   .img-container.fallback {
      display: none;
   }
   p.fallback-info {
      display: block;
      margin-top: 10px;
   }
}